<section id="schedule" class="section-block">

  <div class="text">
	  <h2>Event Schedule</h2>
    <p>TrackごとにYouTube Liveで配信します。また、質問は各セッションページの質問フォームから受け付けています。(質問にはGitHubのアカウントが必要です)</p>
    <h3>配信URL</h3>
    <ul>
    {{ $hashtag := .Site.Params.hashtag }}
    {{ range $track := .Site.Params.tracks }}
    <li>
      <b>{{ $track.name }}:</b>
      <a href="{{ $track.youtube }}">{{ $track.youtube }}</a>
      (<a href="https://twitter.com/intent/tweet?button_hashtag={{ $track.hashtag }}" class="twitter-hashtag-button" data-hashtags="{{ $hashtag }}">Tweet #{{ $track.hashtag }}</a>)
    </li>
    {{ end }}
    </ul>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="schedule">
	  
	  <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Track 1</span>
	  <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Track 2</span>
	  <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Track 3</span>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1000;">10:00am</h2>

	  <div class="session track-1 track-main" style="grid-column: track-1-start / track-3-end; grid-row: time-1000 / time-1015;">
      <div class="wrap-schedule-item">
        <div class="schedule-content">
          <h3 class="title">Welcome To KubeFest Tokyo 2020!</h3>
        </div>
        <div class="schedule-tags">
          <span class="schedule-tag schedule-tag-track">track1</span>
        </div>
      </div>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1015;">10:15am</h2>

	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1015 / time-1030;">
		  <h3 class="title">Break</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1030;">10:30am</h2>
	  
	  <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1030 / time-1105;">
      {{ .Scratch.Set "sessionID" "7" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>
	  
	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1030 / time-1105;">
      {{ .Scratch.Set "sessionID" "1" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1105;">11:05am</h2>

	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1105 / time-1120;">
		  <h3 class="title">Break</h3>
	  </div>
	  
	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1120;">11:20am</h2>
	  
	  <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1120 / time-1155;">
		  {{ .Scratch.Set "sessionID" "6" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1120 / time-1155;">
		  {{ .Scratch.Set "sessionID" "3" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>
	  
	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1155;">11:55am</h2>
	  
	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1155 / time-1210;">
		  <h3 class="title">Break</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1210;">12:10pm</h2>
	  
	  <div class="session track-main" style="grid-column: track-1-start; grid-row: time-1210 / time-1240;">
      {{ .Scratch.Set "sessionID" "14" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-main" style="grid-column: track-2-start; grid-row: time-1210 / time-1240;">
      {{ .Scratch.Set "sessionID" "15" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-main" style="grid-column: track-3-start; grid-row: time-1210 / time-1240;">
      {{ .Scratch.Set "sessionID" "27" }}
      {{ .Scratch.Set "track" "3" }}
      {{ partial "session" . }}
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1240;">12:40pm</h2>
	  
	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1240 / time-1255;">
		  <h3 class="title">Lunch Break</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1255;">12:55pm</h2>
	  
	  <div class="session track-main" style="grid-column: track-1-start; grid-row: time-1255 / time-1325;">
      {{ .Scratch.Set "sessionID" "16" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-main" style="grid-column: track-2-start; grid-row: time-1255 / time-1325;">
      {{ .Scratch.Set "sessionID" "17" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1325;">13:25pm</h2>
	  
	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1325 / time-1340;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1340;">13:40pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1340 / time-1415;">
      {{ .Scratch.Set "sessionID" "2" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1340 / time-1415;">
      {{ .Scratch.Set "sessionID" "10" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-3" style="grid-column: track-3-start; grid-row: time-1340 / time-1700;">
      {{ .Scratch.Set "sessionID" "4" }}
      {{ .Scratch.Set "track" "3" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1415;">14:15pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-2-end; grid-row: time-1415 / time-1430;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1430;">14:30pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1430 / time-1505;">
		  {{ .Scratch.Set "sessionID" "8" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1430 / time-1505;">
      {{ .Scratch.Set "sessionID" "9" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1505;">15:05pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-2-end; grid-row: time-1505 / time-1535;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1535;">15:35pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1535 / time-1610;">
      {{ .Scratch.Set "sessionID" "5" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1535 / time-1610;">
      {{ .Scratch.Set "sessionID" "11" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1610;">16:10pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-2-end; grid-row: time-1610 / time-1625;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1625;">16:25pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1625 / time-1700;">
      {{ .Scratch.Set "sessionID" "13" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1625 / time-1700;">
      {{ .Scratch.Set "sessionID" "12" }}
      {{ .Scratch.Set "track" "2" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1700;">17:00pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1700 / time-1715;">
      <h3 class="title">Break</h3>
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1715;">17:15pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1715 / time-1721;">
      {{ .Scratch.Set "sessionID" "18" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1721;">17:21pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1721 / time-1727;">
      {{ .Scratch.Set "sessionID" "19" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1727;">17:27pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1727 / time-1733;">
      {{ .Scratch.Set "sessionID" "20" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1733;">17:33pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1733 / time-1739;">
      {{ .Scratch.Set "sessionID" "21" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1739;">17:39pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1739 / time-1745;">
      {{ .Scratch.Set "sessionID" "22" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1745;">17:45pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1745 / time-1751;">
      {{ .Scratch.Set "sessionID" "23" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1751;">17:51pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1751 / time-1757;">
      {{ .Scratch.Set "sessionID" "24" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1757;">17:57pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1757 / time-1803;">
      {{ .Scratch.Set "sessionID" "25" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1803;">18:03pm</h2>

    <div class="session track-1" style="grid-column: track-1-start / track-3-end; grid-row: time-1803 / time-1809;">
      {{ .Scratch.Set "sessionID" "26" }}
      {{ .Scratch.Set "track" "1" }}
      {{ partial "session" . }}
    </div>

  </div>

</section>
