<section id="schedule" class="section-block">

  <div class="text">
	  <h2>Event Schedule</h2>
    <p>TrackごとにYouTube Liveで配信します</p>
  </div>

  <div class="schedule">
	  
	  <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Track 1</span>
	  <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Track 2</span>
	  <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Track 3</span>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1000;">10:00am</h2>

	  <div class="session track-1 track-main" style="grid-column: track-1-start / track-3-end; grid-row: time-1000 / time-1015;">
		  <h3 class="title">Welcome To Kubernetes Fest Tokyo 2020!</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1015;">10:15am</h2>

	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1015 / time-1030;">
		  <h3 class="title">Break</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1030;">10:30am</h2>
	  
	  <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1030 / time-1105;">
      {{ .Scratch.Set "sessionID" "7" }}
      {{ partial "session" . }}
	  </div>
	  
	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1030 / time-1105;">
      {{ .Scratch.Set "sessionID" "1" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1105;">11:05am</h2>

	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1105 / time-1120;">
		  <h3 class="title">Break</h3>
	  </div>
	  
	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1120;">11:20am</h2>
	  
	  <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1120 / time-1155;">
		  {{ .Scratch.Set "sessionID" "6" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1120 / time-1155;">
		  {{ .Scratch.Set "sessionID" "3" }}
      {{ partial "session" . }}
	  </div>
	  
	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1155;">11:55am</h2>
	  
	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1155 / time-1210;">
		  <h3 class="title">Break</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1210;">12:10pm</h2>
	  
	  <div class="session track-main" style="grid-column: track-1-start; grid-row: time-1210 / time-1240;">
		  <h3 class="title">Sponser Lunch Session #1</h3>
	  </div>

	  <div class="session track-main" style="grid-column: track-2-start; grid-row: time-1210 / time-1240;">
		  <h3 class="title">Sponser Lunch Session #2</h3>
	  </div>

	  <div class="session track-main" style="grid-column: track-3-start; grid-row: time-1210 / time-1240;">
		  <h3 class="title">Sponser Lunch Session #3</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1240;">12:40pm</h2>
	  
	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1240 / time-1255;">
		  <h3 class="title">Lunch Break</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1255;">12:55pm</h2>
	  
	  <div class="session track-main" style="grid-column: track-1-start; grid-row: time-1255 / time-1325;">
		  <h3 class="title">Sponser Lunch Session #4</h3>
	  </div>

	  <div class="session track-main" style="grid-column: track-2-start; grid-row: time-1255 / time-1325;">
		  <h3 class="title">Sponser Lunch Session #5</h3>
	  </div>

	  <h2 class="time-slot" style="grid-column: times; grid-row: time-1325;">13:25pm</h2>
	  
	  <div class="session track-1 track-many" style="grid-column: track-1-start / track-3-end; grid-row: time-1325 / time-1340;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1340;">13:40pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1340 / time-1415;">
      {{ .Scratch.Set "sessionID" "2" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1340 / time-1415;">
      {{ .Scratch.Set "sessionID" "10" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-3" style="grid-column: track-3-start; grid-row: time-1340 / time-1700;">
      {{ .Scratch.Set "sessionID" "4" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1415;">14:15pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-2-end; grid-row: time-1415 / time-1430;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1430;">14:30pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1430 / time-1505;">
		  {{ .Scratch.Set "sessionID" "8" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1430 / time-1505;">
      {{ .Scratch.Set "sessionID" "9" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1505;">15:05pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-2-end; grid-row: time-1505 / time-1535;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1535;">15:35pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1535 / time-1610;">
      {{ .Scratch.Set "sessionID" "5" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1535 / time-1610;">
      {{ .Scratch.Set "sessionID" "11" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1610;">16:10pm</h2>

    <div class="session track-1 track-many" style="grid-column: track-1-start / track-2-end; grid-row: time-1610 / time-1625;">
		  <h3 class="title">Break</h3>
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1625;">16:25pm</h2>

    <div class="session track-1" style="grid-column: track-1-start; grid-row: time-1625 / time-1700;">
      {{ .Scratch.Set "sessionID" "13" }}
      {{ partial "session" . }}
	  </div>

	  <div class="session track-2" style="grid-column: track-2-start; grid-row: time-1625 / time-1700;">
      {{ .Scratch.Set "sessionID" "12" }}
      {{ partial "session" . }}
	  </div>

    <h2 class="time-slot" style="grid-column: times; grid-row: time-1700;">17:00pm</h2>

	  <div class="session track-1 track-main" style="grid-column: track-1-start / track-3-end; grid-row: time-1700 / time-1800;">
		  <h3 class="title">LT大会</h3>
	  </div>
	  
  </div>

</section>
