{{ $context := . }}
{{ $session := $context.Site.GetPage (printf "/sessions/%s" (.Scratch.Get "sessionID")) }}
{{ $speakers := slice }}
{{ range $id := $session.Params.speakers }}
  {{ $speaker := $context.Site.GetPage (printf "/speakers/%s" $id) }}
  {{ $speakers = $speakers | append (printf "%s（%s）"  $speaker.Params.name $speaker.Params.company) }}
{{ end }}
<a class="schedule-to-session-link" href="{{ $context.Site.BaseURL }}sessions/{{ .Scratch.Get "sessionID" }}">
  <h3 class="title">{{ $session.Title }}</h3>
  <span class="presenter">{{ delimit $speakers ", " }}</span>
</a>
